.texture {
        background-size: cover;
    height: 100%;
    mix-blend-mode: overlay;
    opacity: .5;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
